@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
}

section.greeting {
  margin: auto;
}

section.greeting h1 {
  font-family: 'Bungee Shade', cursive;
  font-size: 8em;
  text-align: center;
}

nav.footer {
  text-align: center;
  padding: 0 0 10px 0;
}

nav.footer ul li a {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: #000;
}

nav.footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav.footer ul li { display: inline; }
nav.footer ul li::after { content: " \00b7 "; padding: 0 5px 0 5px; }
nav.footer ul li:last-child::after { content: ""; padding: 0; }
